{% if include.width %}
  {% assign width = include.width %}
{% else %}
  {% assign width = 640 %}
{% endif %}
{% if include.height %}
  {% assign height = include.height %}
{% else %}
  {% assign height = 360 %}
{% endif %}
<figure>
  <div class="video-wrap">
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/{{include.id}}"
        frameborder="0"
        allowfullscreen="">
      </iframe>
    </div>
  </div>
  {% if include.caption %}
  <figcaption>
    {{include.caption}}
  </figcaption>
  {% endif%}
</figure>
